# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.GyeolhabGame.iml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
